@keyframes move{
    0% {transform: translateX(0);}
    20% {transform: translateX(20px);}
    50% {transform: translateX(50px);}
    75% {transform: translateX(75px);}
    100% {transform: translateX(10px);}
}
.image-slider{
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;

}