#abc{
    background-color: red;
}
#footer{
    min-height: 300px;
    height: auto;
    width: 100%;
    padding: 30px;
    background-color:#EFF5FB;

    ul li{
        list-style-type: none;
    }
    ul li:first-child{
        font-weight: bold;
    }
}
