nav{
    position: relative;
    
}
.item-menu{
    color: black!important;
}

img#logo{
    border: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-position: center;
    &:hover{
        transform: scale(1.1);
        transition:  all .2s ease-in-out;
    }
}

img.user-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

img.icon {
    width: 30px;
    height: auto;
    &:hover {
        box-shadow: 0 .5rem 1rem rgba(#dddddd, .15);
    }
}
#icon-shoppingcart{
    position: relative;
    align-items: center;
    justify-content: center;
}
.icon-cart-badge{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0px;
    right: -3px;
    width: 20px;
    height: 20px;
    background-color:red;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    
}

div#dropdown-abc{
    position: absolute;
    top: 70px;
    right: 0px;
    background: #fff;
    padding: 0;
    margin: 0;
    z-index: 9999;
    width: 200px;
    height: auto;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(#000, .15);
    border-radius: 15px;

    ul{
        padding: 10px 0px;
    }
}

.pointer-cursor{
    cursor: pointer;
}


//
@media (max-width: 992px) {
    //
    #search{
        width: 500px;
    }
}

@media (max-width: 768px) {
    //
    #search{
        width: 300px;
    }
}

@media (max-width: 576px) {
    //
    #search{
        width: 200px;
    }
    img#logo{
        height: 70px;
        width: 70px;
    }
}


