@mixin fix-layout($h: 100%, $w: 100%) {
    height: $h;
    width: $w;
}
#banner{
    width: 100%;
    height: 260px;
    padding:0;
    
    .banner-carousel{
        @include fix-layout();

    }

    .banner-image-up{
        @include fix-layout(50%, 100% );        
        background-image: url("../../images/banner-img-up.jpg");
        background-repeat: none;
        background-size: cover;
    }

    .banner-image-down{
        @extend .banner-image-up;
        background-image: url("../../images/banner-img-down.jpg");
    }  
}
