#cover{
    max-width: 100%;
    min-height: 800px;
    padding: 0;

    #image{
        background: yellow;
    }

    #product-infor{
        background: blue;
    }

    #description{
        padding-right: 15px;
        padding-left: 15px;
    }
}